* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.errmsg {
  color: firebrick;
}

body {
  font: 1.5rem 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: #0F172A;
  color: #fff;
}

section {
  width: min(100%, 500px)
}

a, a:visited {
  color: whitesmoke
}

a:hover, a:focus {
  color: rgba(245, 245, 245, 0.9);
}

.login form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-top: 1rem;
}

.public, .welcome, .users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.public main {
  flex-grow: 1;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 1rem;
}

.users ul {
  list-style-type: none;
}
